h1 {
    color: rgb(0, 138, 46);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin: 10px 0 50px 0;
}
p {
    color: rgb(0, 138, 46);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid 2px rgb(0, 138, 46);
    height: 23px;
    margin: 10px 4px 0 0;
    background-color:#ffffff;
    width: 171px;
    padding: 0 0 0 2px;
    font-weight: bold;
}
.convert {
    border: solid 2px rgb(0, 138, 46);
    color: rgb(0, 138, 46);
    border-radius: 30px;
    width: 100px;
    height: 50px;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}
#container {
    margin: 0 0 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
body {
    background-color: rgb(192, 255, 186);
}
#input {
    border: solid 2px rgb(0, 138, 46);
    height: 20px;
}
.select1 {
    border: solid 2px rgb(0, 138, 46);
    border-radius: 15px;
    height: 25px;
}
.select2 {
    border: solid 2px rgb(0, 138, 46);
    border-radius: 15px;
    height: 25px;
    margin: 10px 0 0 0;
}
#changeTheme {
    background-color: transparent;
    border: none;
}
#changeTheme:hover {
    cursor: pointer;
}
.item {
    flex-wrap: wrap;
    flex-basis: auto;
}
#day {
    display: none;
    width: 75px;
    margin: 0 0 0 25px;
}
#nightmode {
    width: 75px;
    margin: 0 0 0 25px;
}
#result {
    display: flex;
}
.convert:hover {
    cursor: pointer;
    background-color: #0c8f00;
    color: white;
    border: solid 2px white;
}
.select1:hover {
    cursor: pointer;
}
.select2:hover{
    cursor: pointer;
}
#nightmode:hover {
    filter: opacity(50%);
}